<!DOCTYPE html>
<html>
  <head>
    <title>RailsLab4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/menu' %>
    <%= yield %>
	<h3>Gracias por su visita</h3>
  </body>
</html>
